#particles-js {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  pointer-events: none;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Bodoni Moda", serif;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: "Bodoni Moda", serif;
}
body p {
  text-shadow: 1px 1px #2f3e46;
  font-family: "Roboto", sans-serif;
}
body .page-body {
  max-width: 100%;
  width: 500px;
  padding-top: 15%;
}
@media (min-width: 768px) {
  body .page-body {
    margin-left: 125px;
  }
}
@media (max-width: 768px) {
  body .page-body {
    margin: auto;
    padding: 15px;
  }
}
body .page-title {
  color: #fff;
}
body a:focus {
  outline: 0;
  border: none;
}

#nav {
  position: sticky;
  padding: 30px;
}
@media (min-width: 768px) {
  #nav {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    position: fixed;
    width: 90px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 3;
    min-height: 500px;
  }
}
#nav a {
  font-weight: bold;
  color: #fff;
}
@media (min-width: 768px) {
  #nav a {
    font-size: 18px;
  }
}
#nav a.router-link-exact-active {
  color: #84a98c;
}
#nav .nav-item {
  text-align: center;
}
@media (min-width: 768px) {
  #nav .nav-item {
    margin: 15px 0;
  }
}
#nav .nav-item .link-icon {
  display: block;
}
#nav .nav-item .link-text {
  display: none;
}
#nav .nav-item:hover .link-icon {
  display: none;
}
#nav .nav-item:hover .link-text {
  display: block;
}

@media (min-width: 768px) {
  .home-page .HomeHero {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .home-page .HomeHero {
    max-width: 100%;
  }
}
.home-page .HomeHero .home-title span {
  display: inline-block;
  font-size: 40px;
  cursor: default;
}
@media (min-width: 768px) {
  .home-page .HomeHero .home-title span {
    font-size: 53px;
  }
}
.home-page .HomeHero .home-title span:hover {
  color: #52796f;
  animation: rubberBand 1s;
  transition: all ease-in-out;
}
.home-page .HomeHero .sub-title {
  color: #84a98c;
  margin-top: 5px;
}

.about-page .about-me-description {
  font-weight: bold;
}
@media (max-width: 768px) {
  .about-page .about-me-description {
    max-width: 100%;
    width: 400px;
  }
}
.about-page .about-me-social-icons {
  max-width: 100%;
  width: 500px;
}
.about-page .about-me-social-icons span *:hover {
  color: #fff;
  cursor: pointer;
}
.about-page .about-me-social-icons svg,
.about-page .about-me-social-icons a {
  color: #84a98c;
  margin-right: 25px;
}
@media (min-width: 768px) {
  .about-page .about-me-social-icons svg,
.about-page .about-me-social-icons a {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .about-page .about-me-social-icons svg,
.about-page .about-me-social-icons a {
    font-size: 25px;
  }
}

.skills-page .skills-list {
  font-size: 24.5px;
  text-transform: lowercase;
}
.skills-page .skills-list svg {
  color: #84a98c;
}
.skills-page .skills-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
}
.skills-page .skills-list ul li {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  max-width: 100%;
  width: 100px;
  margin: 15px 0;
}
.skills-page .skills-list ul li:hover {
  color: #cad2c5;
  cursor: pointer;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

/*# sourceMappingURL=style.css.map */
