//Rules
$color1: #cad2c5;
$color2: #84a98c;
$color3: #52796f;
$color4: #354f52;
$color5: #2f3e46;
$darkcolor: #181818;
$white: #fff;
$black: #000;

@mixin for-mobile-only {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (min-width: 768px) {
    @content;
  }
}

//Partice.js code/background
#particles-js {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}

//Main Styles
body {
  background-color: $color5;

  .home-page,
  .about-page,
  .skills-page,
  .contact-page {
    @include for-desktop-only {
      margin-left: 100px;
      margin-top: 15%;
    }

    @include for-mobile-only {
      margin-left: 55px;
      margin-top: 25%;
    }
  }

  .home-title,
  .about-title,
  .skills-title,
  .contact-title {
    color: $white;
  }

  a:focus {
    outline: 0;
    border: none;
  }
}

#nav {
  position: sticky;
  padding: 30px;

  @include for-desktop-only {
    display: flex;
    flex-direction: column;
    background-color: $darkcolor;
    position: fixed;
    width: 80px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 3;
    min-height: 500px;
  }

  a {
    font-weight: bold;
    color: #fff;
    @include for-desktop-only {
      font-size: 20px;
    }
  }

  a.router-link-exact-active {
    color: $color3;
  }

  .nav-item {
    text-align: center;
    @include for-desktop-only {
      margin: 15px 0;
    }
  
    .link-icon {
      display: block;
    }
    .link-text {
      display: none;
    }
  
    &:hover {
      .link-icon {
        display: none;
      }
      .link-text {
        display: block;
      }
    }
  }
}

.home-page {
  .HomeHero {
    @include for-desktop-only {
      width: 500px;
    }

    @include for-mobile-only {
      max-width: 100%;
    }

    .home-title {
      span {
        @include for-desktop-only {
          font-size: 53px;
        }

        display: inline-block;
        font-size: 40px;
        color: $white;
        cursor: default;

        &:hover {
          color: $color3;
          animation: rubberBand 1s;
          transition: all ease-in-out;
        }
      }
    }

    .sub-title {
      color: $color1;

      margin-top: 5px;
    }
  }
}

//Animations
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
