.hollowLoader {
  width: 3em;
  height: 3em;
  animation: loaderAnim 1.25s infinite ease-in-out;
  outline: 1px solid transparent;
}
.hollowLoader .largeBox {
  height: 3em;
  width: 3em;
  background-color: #fff;
  outline: 1px solid transparent;
  position: fixed;
}
.hollowLoader .smallBox {
  height: 3em;
  width: 3em;
  background-color: #000;
  position: fixed;
  z-index: 1;
  outline: 1px solid transparent;
  animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
}

@keyframes smallBoxAnim {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes loaderAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
#particles-js {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  pointer-events: none;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Source Code Pro", monospace;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: "Source Code Pro", monospace;
}
body p {
  text-shadow: 1px 1px #2f3e46;
  font-family: "Source Code Pro", monospace;
}
body .link {
  color: #84a98c;
}
@media (max-width: 768px) {
  body #app {
    padding: 15px;
  }
}
@media (min-width: 768px) {
  body #app .nav-mobile-menu-icon {
    display: none;
  }
}
body .page-body {
  max-width: 100%;
  width: 500px;
  padding-top: 15%;
}
@media (min-width: 768px) {
  body .page-body {
    margin-left: 150px;
  }
}
@media (max-width: 768px) {
  body .page-body {
    margin: auto;
  }
}
body .page-title {
  color: #fff;
}
body a:focus {
  outline: 0;
  border: none;
}

.nav-mobile-menu-icon {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 30px;
}
.nav-mobile-menu-icon #mobile-menu-open {
  display: block;
}
.nav-mobile-menu-icon #mobile-menu-close {
  display: none;
}
@media (min-width: 768px) {
  .nav-mobile-menu-icon #mobile-menu-open,
.nav-mobile-menu-icon #mobile-menu-close {
    display: none;
  }
}

#nav {
  position: sticky;
  padding: 30px;
}
@media (min-width: 768px) {
  #nav {
    display: flex !important;
    flex-direction: column;
    background-color: #181818;
    position: fixed;
    width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 3;
    min-height: 500px;
  }
}
@media (max-width: 768px) {
  #nav {
    display: none;
    background: rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
}
#nav a {
  font-weight: bold;
  color: #fff;
}
@media (min-width: 768px) {
  #nav a {
    font-size: 20px;
  }
}
#nav a.router-link-exact-active {
  color: #fff;
}
#nav a.router-link-exact-active .link-icon {
  box-shadow: 0.2px 0.4px 6px 3px #ccc;
  width: 95%;
  margin: auto;
}
#nav .nav-item {
  text-align: center;
}
@media (min-width: 768px) {
  #nav .nav-item {
    margin: 15px 0;
  }
  #nav .nav-item .link-icon {
    display: inline-block;
  }
  #nav .nav-item .link-text {
    display: none;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #nav .nav-item {
    margin: 5px 0;
    text-decoration: none;
  }
  #nav .nav-item .link-icon {
    display: none;
  }
  #nav .nav-item .link-text {
    display: block;
    margin: 0;
    padding: 0;
  }
  #nav .nav-item .link-text:hover {
    text-decoration: underline;
  }
}
#nav .nav-item:hover .link-icon {
  display: none;
}
#nav .nav-item:hover .link-text {
  display: inline-block;
}

@media (min-width: 768px) {
  .home-page .HomeHero {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .home-page .HomeHero {
    max-width: 100%;
  }
}
.home-page .HomeHero .home-title span {
  display: inline-block;
  font-size: 30px;
  cursor: default;
}
@media (min-width: 768px) {
  .home-page .HomeHero .home-title span {
    font-size: 45px;
  }
}
.home-page .HomeHero .home-title span:hover {
  color: #84a98c;
  animation: rubberBand 1s;
  transition: all ease-in-out;
}
.home-page .HomeHero .sub-title {
  color: #84a98c;
  margin-top: 5px;
}

.about-page .about-me-description {
  font-weight: bold;
}
@media (max-width: 768px) {
  .about-page .about-me-description {
    max-width: 100%;
    width: 400px;
  }
}
.about-page .about-me-social-icons {
  max-width: 100%;
  width: 500px;
}
.about-page .about-me-social-icons span *:hover {
  color: #fff;
  cursor: pointer;
}
.about-page .about-me-social-icons svg,
.about-page .about-me-social-icons a {
  color: #84a98c;
  margin-right: 25px;
}
@media (min-width: 768px) {
  .about-page .about-me-social-icons svg,
.about-page .about-me-social-icons a {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .about-page .about-me-social-icons svg,
.about-page .about-me-social-icons a {
    font-size: 25px;
  }
}

.skills-page .skills-list {
  font-size: 24.5px;
  text-transform: lowercase;
}
.skills-page .skills-list svg {
  color: #84a98c;
}
.skills-page .skills-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
}
.skills-page .skills-list ul li {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  max-width: 100%;
  width: 100px;
  margin: 15px 0;
}
.skills-page .skills-list ul li:hover {
  color: #84a98c;
  cursor: pointer;
}

.projects-page {
  width: 1200px !important;
}
@media (min-width: 768px) {
  .projects-page .project-full-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}
.projects-page .project-full-list h2 {
  font-size: 18px;
}
.projects-page .project-full-list .project-links {
  display: flex;
  flex-wrap: wrap;
}
.projects-page .project-full-list .project-links a {
  margin-right: 15px;
  margin-bottom: 8px;
}
.projects-page .project-full-list .project-tools {
  display: flex;
  flex-wrap: wrap;
}
.projects-page .project-full-list .project-tools div {
  margin-right: 15px;
  margin-bottom: 5px;
}

.contact-page .form-contact-message {
  display: flex;
  flex-direction: column;
}
.contact-page input,
.contact-page textarea {
  color: #fff;
  max-width: 100%;
  width: 100%;
  border: none;
  padding-left: 15px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
}
.contact-page input {
  height: 35px;
}
.contact-page textarea {
  height: 150px;
  padding-top: 15px;
}
.contact-page button {
  background-color: #84a98c;
  color: #fff;
  max-width: 100%;
  width: 50%;
  border: 1px solid #84a98c;
  padding: 15px;
}
.contact-page button:hover {
  cursor: pointer;
}

.notfound-page img {
  max-width: 100%;
  width: 250px;
}
@media (min-width: 768px) {
  .notfound-page .missing-person-details {
    margin-bottom: 150px;
  }
}
@media (max-width: 768px) {
  .notfound-page .missing-person-details {
    margin-bottom: 100px;
  }
}
.notfound-page .missing-person-details div {
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.notfound-page .missing-person-details div span {
  font-weight: bold;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

/*# sourceMappingURL=style.css.map */
